[package]
name = "kernel"
version = "0.1.0"
edition = "2021"

[dependencies]
rvos-wire = { path = "../lib/rvos-wire" }
rvos-proto = { path = "../lib/rvos-proto" }

[profile.release]
panic = "abort"
opt-level = 2
lto = true
